<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <springProfile name="dev">
        <appender name="MY_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <Pattern>
                    %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
                </Pattern>
            </layout>
        </appender>
    </springProfile>
    <springProfile name="default">
        <appender name="MY_APPENDER" class="ch.qos.logback.core.FileAppender">
            <file>/tmp/pony/tests.log</file>
            <append>true</append>
            <encoder>
                <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>
    <root level="INFO">
        <appender-ref ref="MY_APPENDER"/>
    </root>
    <logger name="org.springframework.web" level="DEBUG"/>
</configuration>
